.event-card {
  border: 1px solid oklch(var(--lch-npm-yellow));
  border-radius: 0.5rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 1rem;
}

.event-card__when-where-block {
  width: 15rem;
  flex-shrink: 0;
}

.event-card__when-where {
  list-style: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: var(--font-size-7);
}

.event-card__when-where-time {
  font-size: var(--font-size-5);
  font-weight: 700;
  text-transform: lowercase;
}

.event-card__name {
  margin: 0;
  padding: 0;
  font-size: var(--font-size-4);
}

.event-card__description {
  font-size: var(--font-size-6);
  color: oklch(var(--lch-gray-1));
}