.hero {
  min-height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('/assets/cover-image-v1.jpeg');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero__title {
  font-size: 4em;
  font-weight: 200;
  font-style: italic;
  text-transform: lowercase;
  margin-bottom: 0.1rem;
  color: white;
}
