.page-hero {
  min-height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.2), oklch(var(--lch-npm-green) / 0.7)), url('/assets/cover-image-v1.jpeg');
  background-size: cover;
  background-position: center;
}

.hero {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.hero__title {
  font-size: 4em;
  font-weight: 200;
  font-style: italic;
  text-transform: lowercase;
  margin-bottom: 5rem;
}

.hero__subtitle {
  font-size: 1.75em;
  font-weight: 400;
}