:root {
  --font-size-1: 2.986rem;
  --font-size-2: 2.488rem;
  --font-size-3: 2.074rem;
  --font-size-4: 1.728rem;
  --font-size-5: 1.44rem;
  --font-size-6: 1rem;
  --font-size-7: 0.833rem;
  --font-size-8: 0.694rem;
}

.title {
  color: oklch(var(--lch-npm-green));
  margin: 0;
  padding: 0;
  font-size: var(--font-size-3);
}

.subtitle {
  margin: 0;
  font-size: var(--font-size-5);
  font-weight: 400;
  color: oklch(var(--lch-gray-3));
}